{$CADDY_WP_DOMAIN} {
	header X-Robots-Tag "noindex, nofollow, noarchive"
	basicauth {
		{$CADDY_WP_AUTH_USER} {$CADDY_WP_AUTH_HASH}
	}
	reverse_proxy wp:80
}

{$CADDY_OJS_DOMAIN} {
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "SAMEORIGIN"
		Referrer-Policy "strict-origin-when-cross-origin"
	}
	reverse_proxy ojs:80
}
